.App {
  text-align: center;
}

form {
  max-width: 500px;
  background-color: #cfe8fc;
  margin: auto;
  padding: 20px;
}

h2{
  color:#3f51b5;
}

.TextField{
  margin-bottom: 25px;
}

input{
  color: #fff;
  background-color: #3f51b5;
  padding: 6px 16px;
  border-radius: 3px;
}


